

input{
    width: 78% !important;
    margin-bottom: 10px;
    border: none !important;
}

button{
    background: #f64749;
    color: white;
    padding: 5px 17px;
    border: none;
    border-radius: 10px;
}

