.detail-box h4 {
    font-weight: 600;
    margin-top: 40px;
}
.detail-box .p-one{
    margin-right: 120px;
}

.ovaery{
    position: relative;
    z-index: 999;   
}
.ovaery h1{
    margin-right: 16% !important;
}
@media screen and (max-width:480px) {
    /* .detail-box{
        position: fixed;
        top: 165px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        margin-left: 39px;
    } */
}

