

/* .container {
	padding: 50px 70px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
	text-align: center;
} */
.order-list {
    padding: 50px 70px;
	border-radius: 10px;
	background-color: white;
	/* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15); */
	text-align: center;
}

h1 {
	font-size: 2rem;
    font-family: "Clash Display", sans-serif;
    text-align: center;
}

.order-list h3{
    padding: 8px;
	padding-left: 40px;
	transition: ease 400ms;
	cursor: pointer;
	display: flex;
	letter-spacing: 1px;
	opacity: 0.85;
    margin-left: 40%;
}
.order-list h3:hover{
    transform: translateX(20px);
	opacity: 1;
}

.order-list h3::before{
    counter-increment: ordered-list;
	content: counter(ordered-list);
	font-family: "Sharpie", sans-serif;
	margin-right: 10px;
	background-color: #ff4e4e;
	color: #f6f6f6;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
}
.order-list h3:focus-visible{
    outline: 2px solid red;
	outline-offset: 2px;
	border-radius: 4px;
}
.my-list{
    list-style: none;
	counter-reset: ordered-list;
}