body{
    /* background:#eee; */
}
/* .card-ad {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card-ad {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}
.text-reset {
    --bs-text-opacity: 1;
    color: inherit!important;
} */
a {
    /* color: #5465ff; */
    text-decoration: none;
}

/* .card-body p {
    padding: 4px 10px 
} */

.select-box select {
    width: 108px;
    padding: 6px 8px;
    margin-left: 87%;
}
span{
    margin-left: 20px;
    margin-top: 15px; 

}