body{
    background:#eee;
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}
.text-reset {
    --bs-text-opacity: 1;
    color: inherit!important;
}
a {
    /* color: #5465ff; */
    text-decoration: none;
}

.card-body p {
    padding: 4px 10px 
}

.select-box select {
    width: 108px;
    padding: 6px 8px;
    margin-left: 87%;
}
.btn-box button{
    padding: 3px 20px;
    font-size: 18px;
    /* border: 1px solid; */
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
}