.category_section {
    text-align: center;
    padding: 30px;
    font-size: 23px;
    font-weight: 700;
    color: #373737;
    margin-top: 30px;
    background-color: #d5b6b626;
}

#category_section .cat_box {
    /* background-color: #f2dbde; */
    display: inline-block;
    /* padding: 10px 22px; */
    border-radius: 10px;
    /* margin-bottom: 35px; */
}

.imge-overly {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0d0c0c;
    opacity: 0.7;
}
.contact {
    position: absolute;
    top: 35%;
    left: 34%;
    text-align: center;
    color: white;
}
.contact h5 {
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.one p{
    margin-bottom: 35px;
    font-size: 10px;
    padding-top: 5px;
    color: gray;
}