.ul-data {
  margin-left: 17%;
  margin-right: 17%;
  display: flex;
  justify-content: space-between;
}

.product-data {
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 6%;
  border: 1px solid;
  padding: 10px;
}

h5{
      margin-top: 0vh;
      font-weight: 600;
}
.product-data h4 {
  background-color: grey;
  color: white;
  padding: 15px;
  margin-bottom: 1.5rem;
}
.product-data p{
  font-weight: 700;
}

.pro-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  padding: 10px;
  margin-bottom: 10px;
}

.img-data img {
  width: 100px;
  height: 100px;
  
}

.pro-detail {
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
    padding: 10px;
}

.freight {
  justify-content: space-between;
  align-items: center;
}

.user-detail {
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 6%;
  display: flex;
    justify-content: space-between;
}
.user-detail h4{
  font-weight: 600;
}
.user-detail{
  background-color: #efefef;
  padding: 10px;
  border: 1px solid;
}
p  span{
  font-weight: 600;
}